$fontFamilyRegular: 'regular';
$fontFamilyBold: 'bold';
$fontFamilyItalic: 'italic';

@font-face {
  font-family: $fontFamilyRegular;
  src: url('../fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: $fontFamilyBold;
  src: url('../fonts/Lora-Bold.ttf');
}

@font-face {
  font-family: $fontFamilyItalic;
  src: url('../fonts/Lora-Italic.ttf');
}

$fontSizeExtraLarge: 3rem;
$fontSizeLarge: 1.5rem;
$fontSizeMedium: 1rem;
$fontSizeSmall: 0.8rem;
