@use "./sass/all";

header {
  padding: all.$spaceMedium;
  background-color: all.$white;
  position: fixed;
  top: 0;
  left: 0;
  font-size: all.$fontSizeLarge;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 10px 0 all.$shadow;

  @include all.flex-row(0);
  justify-content: space-between;

  a {
    margin-left: all.$spaceLarge;
    @include all.link-text();
    text-decoration: none;
    font-family: all.$fontFamilyBold;
  }

  i {
    color: all.$primaryColorDark;
    align-self: flex-start;
    font-size: 2rem;
  }

  @include all.small-and-below() {
    & {
      padding: all.$spaceSmall;
    }

    i {
      display: none !important;
    }

    & > span {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    }

    a {
      margin-left: 0;
      font-size: 1.2rem;
    }
  }
}

section {
  width: 100%;
  @include all.flex-row(0);
  overflow: hidden;
  min-height: 100vh;

  .section-inner {
    width: 100%;
    height: 100%;
    max-width: all.$screenMediumMax;

    padding: all.$spaceLarge;
    @include all.small-and-below() {
      padding: all.$spaceSmall;
    }
    padding-bottom: all.$spaceExtraLarge;

    h2, h3 {
      font-size: all.$fontSizeExtraLarge;
      color: all.$primaryColorDark;
      font-family: all.$fontFamilyTitleBold;
      text-align: center;
      margin: all.$spaceExtraLarge 0;
    }

    h3 {
      font-size: all.$fontSizeLarge;
      color: all.$primaryColorDark;
      text-align: left;
      margin: all.$spaceExtraLarge 0 all.$spaceMedium;
    }

    iframe {
      width: 100%;
    }

    p {
      margin-bottom: all.$spaceMedium;
      line-height: 1.3em;
    }

    ul {
      margin-bottom: all.$spaceMedium;
      padding-left: all.$spaceMedium;
      list-style-type: circle;
      line-height: 2em;

      strong {
        font-family: all.$fontFamilyBold;
      }

      li {
        margin-bottom: all.$spaceMedium;
      }
    }
  }
}

#cta {
  margin-top: 6rem;
  line-height: 1.5em;

  span {
    font-family: all.$fontFamilyTitle;
  }
}

#hero {
  position: relative;
  align-items: flex-start;

  #hero-image {
    position: absolute;
    background: center center no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #hero-text {
    padding: all.$spaceLarge;
    background-color: rgba(all.$primaryColorExtraDark, 0.9);
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: all.$borderRadiusMedium;
    margin-top: all.$spaceMedium;

    h1 {
      font-family: all.$fontFamilyTitle;
      font-size: 2.5rem;
      line-height: 1.3em;
      color: all.$white;
    }

    h2 {
      color: all.$white;
      font-size: all.$fontSizeLarge;
      line-height: 1.3em;
      font-family: all.$fontFamilyBold;
    }

    h1,h2 {
      text-shadow: 0 2px 5px all.$shadowHard;
    }

    i {
      margin: all.$spaceMedium auto;
      color: all.$secondaryColor;
      font-size: 4rem;
    }

    @include all.small-and-below() {
      & {
        max-width: 90%;
        padding: all.$spaceLarge;
      }

      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }
}

a {
  @include all.link-text();
  font-family: all.$fontFamilyBold;
}

#about {
  .section-inner {
    border-radius: all.$borderRadiusLarge;
    background-color: all.$offWhite;
  }

  figure {
    margin-top: all.$spaceMedium;
    text-align: center;

    figcaption {
      margin-top: all.$spaceSmall;
      font-size: all.$fontSizeSmall;
      font-family: all.$fontFamilyItalic;
    }
  }
  img {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: all.$borderRadiusLarge;
  }
}


#schedule {
  .section-inner {
    border-radius: all.$borderRadiusLarge;
    background-color: white; // this to match the google calendar
  }

  p {
    text-align: center;
    font-family: all.$fontFamilyItalic;
  }
}

#contact {
  min-height: 50vh;
  background-color: all.$primaryColor;

  &, * {
    color: all.$white;
  }

  p {
    text-align: center;
    font-size: all.$fontSizeLarge;

    a {
      display: inline-block;
      margin-top: all.$spaceMedium;
    }
  }
}
